---
import { TitleH3 } from "../components";
---

<section id="about" class="max-w-[1000px] mx-auto ">
    <TitleH3 title="Sobre mi"/>
    <div class="flex flex-col gap-4">
      <p class="  text-lg">
        Soy un desarrollador web frontend apasionado por la tecnología y el
        desarrollo de interfaces de usuario atractivas y funcionales. Cuento con
        experiencia en HTML5, CSS3, JavaScript, React.js, NetxJs, Tailwind entre
        otras.
      </p>
      <p class=" text-lg">
        Trabajé en proyectos que incluyen la creación de landing pages y
        aplicaciones web responsivas. Estoy en busca de una oportunidad para
        unirme a una empresa donde pueda aplicar mis conocimientos, aprender
        nuevas tecnologías y crecer profesionalmente en un entorno colaborativo.
      </p>
    </div>
</section>