---
import Layout from "../layouts/Layout.astro";
import {
  AboutSection,
  FooterSection,
  HeroSection,
  ProjectSection,
  SkillSection,
} from "../section";
---

<Layout title="Brian Paiba Portfolio">
  <main class="">
    <HeroSection />
    <AboutSection />
    <ProjectSection />
    <SkillSection client:load />
    <FooterSection />
  </main>
</Layout>
