---
import { About, Home } from "../components";
import Footer from "../components/Footer.astro";
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Brian Paiba Portfolio">
  <main class="">
    <Home />
    <About />
    <Project />
    <Footer />
  </main>
</Layout>
