---
import { People } from "./icons";
---

<section>
  <div class="flex items-center gap-4 pb-6">
    <People />
    <h2 class="text-Green text-2xl md:text-3xl font-bold">Sobre mí</h2>
  </div>
  <div class="flex justify-between">
    <p class="md:max-w-lg text-lg">
      Soy Brian, un apasionado desarrollador web con una sólida formación en
      tecnologías como JavaScript, React, Redux, Node.js, Express, Sequelize y
      PostgreSQL.<br /><br />
      Me destaco por mi enfoque centrado en la calidad y la eficiencia en cada proyecto
      en el que me involucro. Estoy siempre buscando nuevas oportunidades para aplicar
      y expandir mis habilidades en el desarrollo web.
    </p>
    <img src="assets/foto-brian.png" alt="" class="w-40" />
  </div>
</section>
