---
// Card.astro
import BadgeNextJS from "./BadgeNextJS.astro";
import BadgeRedes from "./BadgeRedes.astro";
import BadgeTailwind from "./BadgeTailwind.astro";
---

<section>
  <div class="flex gap-12">
    <slot name="image" />

    <div class="flex flex-col">
      <h3 class="text-start text-2xl uppercase">
        <slot name="title">Title</slot>
      </h3>
      <div class="flex py-1">
        <BadgeNextJS>NextJS</BadgeNextJS>
        <BadgeTailwind>Tailwind</BadgeTailwind>
      </div>
      <p class="max-w-xl text-lg">
        <slot name="description"
          >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias at
          exercitationem, minus, natus magnam cumque architecto expedita fuga
          voluptate debitis necessitatibus atque rerum officiis deserunt commodi
          distinctio, non ullam repudiandae!</slot
        >
      </p>
      <div class="flex gap-2 pt-2">
        <slot name="links" />
      </div>
    </div>
  </div>
</section>
