<footer class="text-center mt-12">
  <p class="text-center text-sm text-gray-400  ">
    Hecho con ❤️ por Brian Paiba.
  </p>
   <p class="text-gray-400 text-sm">Astro, Tailwind- © 2024 !</p>
  <span class="text-gray-400 text-sm">Inspirado por Midudev</span>
</footer>
