<header class="flex justify-center items-center py-6">
  <nav class="flex flex-row gap-x-4 sm:gap-x-10 opacity-80">
    <a class="hover:text-Green font-bold text-base" href="/">Sobre mi</a>
    <a class="hover:text-Green font-bold text-base" href="/">Proyectos</a>
    <a class="hover:text-Green font-bold text-base" href="/">Habilidades</a>
    <a class="hover:text-Green font-bold text-base" href="/">Contacto</a>
  </nav>
</header>
