---
import Badge from "./Badge.astro";
import BadgeRedes from "./BadgeRedes.astro";
import { GitHub, LinkedIn, Download } from "./icons";
import Mail from "./icons/Mail.astro";
---

<section class="w-full lg:py-32 flex justify-around items-center">
  <div
    class="flex flex-wrap md:flex-nowrap w-full items-center justify-center md:gap-12"
  >
    <img
      src="/assets/img-animada-computer.png"
      alt="frontend developer"
      class="size-40 md:size-52 max-md:my-6"
    />
    <div class="flex flex-col items-start m-auto gap-2 p-4 md:p-2 lg:p-0">
      <a
        href="https://linkedin.com/in/brian-m-paiba"
        target="_blank"
        rel="noopener"
        class="flex items-center transition md:justify-center md:hover:scale-105"
      >
        <Badge>Disponible para trabajar</Badge>
      </a>
      <h1
        class="text-white text-4xl md:text-6xl font-bold flex justify-center flex-row"
      >
        Hey, soy Brian <div class="flex justify-center items-center"></div>
      </h1>
      <h2 class="text-Green text-2xl md:text-3xl font-bold">
        {"< "}Front-End Developer{" />"}
      </h2>
      <p class="md:max-w-lg text-lg py-2">
        Desarrollador frontend apasionado por crear experiencias de usuario
        intuitivas y atractivas. De Buenos Aires, Argentina.
      </p>
      <div class="flex flex-wrap gap-4">
        <a
          href="https://linkedin.com/in/brian-m-paiba"
          target="_blank"
          rel="noopener"
          class="flex items-center transition md:justify-center md:hover:scale-105"
        >
          <BadgeRedes><LinkedIn />LinkedIn</BadgeRedes>
        </a>
        <a
          href="https://linkedin.com/in/brian-m-paiba"
          target="_blank"
          rel="noopener"
          class="flex items-center transition md:justify-center md:hover:scale-105"
        >
          <BadgeRedes><GitHub /> GitHub</BadgeRedes>
        </a>
        <a
          href="mailto:miduga@gmail.com"
          target="_blank"
          rel="noopener"
          class="flex items-center transition md:justify-center md:hover:scale-105"
        >
          <BadgeRedes><Mail />Cóntactame</BadgeRedes>
        </a>
      </div>
    </div>
  </div>
</section>
