/* footer */
.header {
  background-color: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 5px #ccc;
}
.header img {
  width: 50px;
}

.bars {
  font-size: 40px;
}
